<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<hr>
<a href="/signup">Signup</a>
<hr>
<a href="/login">Login</a>
<hr>
<a href="/main">Main</a>
<hr>
<h3>restricted area</h3>
<a href="/rooms">Rooms</a>
