<h1>This is the rooms page</h1>

<h3>Create new room</h3>
<form id="new-room-form" class="room-form" action="/rooms/add" method="post">
        <div class="name">
          <label for="name">Name: </label>
          <input type="text" name="name">
        </div>
        <div class="description">
          <label for="description">Description: </label>
          <input type="text" name="description">
        </div>
        <div class="imageUrl">
          <label for="imageUrl">Image-URL: </label>
          <input type="url" name="imageUrl">
        </div>
        <button type="submit">Create room</button>
</form><br>
<hr>
{{#if Message}}
<div>{{Message}}</div>
{{/if}}

<h3>Edit room</h3>
      <form id="edit-room-form" class="room-form" action="/rooms/edit" method="post">
        <div class="name">
          <label for="name">Name: </label>
          <input type="text" name="name">
        </div>
        <div class="description">
          <label for="description">Description: </label>
          <input type="text" name="description">
        </div>
        <div class="imageUrl">
          <label for="imageUrl">Image-URL: </label>
          <input type="url" name="imageUrl">
        </div>
        <button id="send-data">Update</button>
      </form>